<!DOCTYPE html>

<html xmln:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">

<head>
	<link rel="stylesheet" href="css/board/notice_2.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js">
	</script>
	<script>
		$(document).ready(function () {
			$("#공지").click(function () {
				$("#내용").slideToggle("slow");
			});
		});
	</script>
</head>

<main>
	<h1>공지사항</h1>
	<div class="목록list">
		<ul class="ul">
			<li><button type="button" class="menu_button"><a href="/notice"><span>FAQ</span></a></button></li>
			<li><button type="button" class="menu_button"><a href="/notice_2"><span>공지사항</span></a></button></li>
			<li><button type="button" class="menu_button"><a href="/onebyone"><span>1:1문의</a></span></button></li>
			<li><button type="button" class="menu_button"><a href="/review"><span>리뷰게시판</span></a></button></li>
		</ul>
	</div>

	<div class="wrapper">
		<div class="search_bar">
			<div class="more">
				<select>
					<option>선택하세요</option>
					<option>제목</option>
					<option>제목+내용</option>
				</select>
				<input type="text" id="검색" placeholder="왼쪽놈은 질문분류선택">

				<div>
					<input type="submit" id="제출">
				</div>
			</div>

		</div>
		<div>
			<table class="table">
				<colgroup>
					<col width=100px />
					<col width=700px>
					<col width=100px>
				</colgroup>
				<thead>
					<tr>
						<td id="thead">번호</td>
						<td id="thead">공지사항내용</th>
						<td id="thead">등록일</th>
					</tr>
				</thead>
				<tbody class="tbody">
					<tr>
						<td id="tbody0">1번</td>
						<td id="tbody1">
							<div id="공지"><img id="campaign" src="/images/board/확성기.png">
								3팀 A31여러분 모두 파이팅입니다.<div id="내용">ㅍㅇㅌ</div>
							</div>
							</th>
						<td id="tbody2">등록일</th>
					</tr>
					<tr>
						<td id="tbody0">2번</td>
						<td id="tbody1">공지사항</th>
						<td id="tbody2">등록일</th>
					</tr>
					<tr>
						<td id="tbody0">2번</td>
						<td id="tbody1">공지사항</th>
						<td id="tbody2">등록일</th>
					</tr>
					<tr>
						<td id="tbody0">3번</td>
						<td id="tbody1">공지사항</th>
						<td id="tbody2">등록일</th>
					</tr>
					<tr>
						<td id="tbody0">4번</td>
						<td id="tbody1">공지사항</th>
						<td id="tbody2">등록일</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

</html>