<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/my-layout::layout(~{this::head}, ~{this::main})}">

<head>
	<link rel="stylesheet" href="/css/navigation/bag.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">-->
	<script src="shoes.js" defer></script>
</head>

<body>
	<main>
		<div class="main_container">
			<h2 class="box_title">
				BAG
			</h2>
			<div class="bag">
				<div class="column">
					<img src="/images/navigation/bag/bag1.png" alt="가방1">
					<div class="sub-column">등산 가방 연회색 55L <br>
						<span class="price-text"><br>170,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>

				<div class="column">
					<img src="/images/navigation/bag/bag2.png" alt="가방2">
					<div class="sub-column">등산 가방 연녹색 55L <br>
						<span class="price-text"><br>170,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag3.png" alt="가방3">
					<div class="sub-column">등산 가방 45L <br>
						<span class="price-text"><br>125,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag4.png" alt="가방4">
					<div class="sub-column">트레킹 백팩 28L <br>
						<span class="price-text"><br>77,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>
			</div>

			<br>
			<div class="bag">

				<div class="column">
					<img src="/images/navigation/bag/bag5.png" alt="가방5">
					<div class="sub-column">등산 가방 55L <br>
						<span class="price-text"><br>225,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>

				<div class="column">
					<img src="/images/navigation/bag/bag6.png" alt="가방6">
					<div class="sub-column">트레킹 백팩 30L <br>
						<span class="price-text"><br>89,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag7.png" alt="가방7">
					<div class="sub-column">트레킹 백팩 28L <br>
						<span class="price-text"><br>77,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag8.png" alt="가방8">
					<div class="sub-column">등산 가방 50L <br>
						<span class="price-text"><br>178,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>
			</div>
			<br>

			<div class="bag">

				<div class="column">
					<img src="/images/navigation/bag/bag9.png" alt="가방9">
					<div class="sub-column">등산 가방 40L <br>
						<span class="price-text"><br>109,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>

				<div class="column">
					<img src="/images/navigation/bag/bag10.png" alt="가방10">
					<div class="sub-column">등산 가방 60L <br>
						<span class="price-text"><br>255,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag11.png" alt="가방11">
					<div class="sub-column">등산 가방 55L <br>
						<span class="price-text"><br>145,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag12.png" alt="가방12">
					<div class="sub-column">등산 가방 38L <br>
						<span class="price-text"><br>142,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>
			</div>
			<br>

			<div class="bag">

				<div class="column">
					<img src="/images/navigation/bag/bag13.png" alt="가방13">
					<div class="sub-column">등산가방 65L <br>
						<span class="price-text"><br>235,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>

				<div class="column">
					<img src="/images/navigation/bag/bag14.png" alt="가방14">
					<div class="sub-column">등산가방 55L <br>
						<span class="price-text"><br>216,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag15.png" alt="가방15">
					<div class="sub-column">등산가방 50L <br>
						<span class="price-text"><br>227,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>


				<div class="column">
					<img src="/images/navigation/bag/bag16.png" alt="가방16">
					<div class="sub-column">등산가방 45L <br>
						<span class="price-text"><br>172,000&#8361;
							<button class="small-button" onclick="openCartPage()">장바구니에 담기</button>
					</div>
				</div>
			</div>
			<br>
		</div>
	</main>
</body>

</html>