<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/logos/favicon.ico">
    <title>GREEN PEAK GLOBAL</title>
    <link rel="stylesheet" href="/css/navigation/shoes.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <script src="shoes.js" defer></script>
    
</head>
<body>
    <div>
        <div class="top">
            <div class="column1">
                <img src="/logos/global.png" alt="global Icon">
            </div>
            <div class="column2">
                <img src="/logos/symbol.png" alt="GREENPEAK2">
            </div>
            <div class="column3">
                <button id="searchButton">
                    <img src="/logos/search.png" alt="Search Icon">
                </button>
                <img src="/logos/mypage.png" alt="My Page Icon">
                <img src="/logos/cart.png" alt="Cart Icon">
            </div>
        </div>
        
        <ul class="navigation">
			<li>
				<div><a href="#">신발</a></div>
				<ul class="down">
					<li><a href="#">공용</a></li>
				</ul>

			</li>

			<li>
				<div><a href="#">의류</a></div>
				<ul class="down">
					<li><a href="#">상의</a></li>
					<li><a href="#">하의</a></li>
				</ul>
			</li>

			<li>
				<div><a href="#">야영</a></div>
				<ul class="down">
					<li><a href="#">텐트</a></li>
					<li><a href="#">침낭</a></li>
				</ul>
			</li>

			<li>
				<div><a href="/gear">장비</a></div>
			</li>

			<li>
				<div><a href="/bag">가방</a></div>
			</li>

			<li>
				<div><a href="#">문의사항</a></div>
				<ul class="down">
					<li><a href="#">환불요청</a></li>
					<li><a href="#">문의사절</a></li>

				</ul>
			</li>
		</ul>
        
    </div>

    
    <div class="shoesTop">
        <img src="/images/navigation/shoes/shoesTop.png" alt="신발">
    </div>
    <br>

    <div class="shoes">
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes1.png" alt="신발1">
            <div class="sub-column">공용 방수 트레킹화 <br>
                <span class="price-text"><br>127,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes2.png" alt="신발2">
            <div class="sub-column">공용 트레킹화 <br>
                <span class="price-text"><br>67,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes3.png" alt="신발3" >
            <div class="sub-column">공용 단목 등산화 <br>
                <span class="price-text"><br>117,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes4.png" alt="신발4">
            <div class="sub-column">공용 트레킹화 <br>
                <span class="price-text"><br>89,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    </div>

    <br>
    <div class="shoes">
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes5.png" alt="신발5">
            <div class="sub-column">공용 중목 등산화 <br>
                <span class="price-text"><br>139,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes6.png" alt="신발6">
            <div class="sub-column">공용 중목 등산화 <br>
                <span class="price-text"><br>135,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes7.png" alt="신발7" >
            <div class="sub-column">공용 중목 등산화<br>
                <span class="price-text"><br>151,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes8.png" alt="신발8">
            <div class="sub-column">공용 중목 등산화 <br>
                <span class="price-text"><br>147,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    </div>
    <br>

    <div class="shoes">
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes9.png" alt="신발9">
            <div class="sub-column">공용 중목 겨울 방한화 <br>
                <span class="price-text"><br>158,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes10.png" alt="신발10">
            <div class="sub-column">공용 중목 등산화 <br>
                <span class="price-text"><br>177,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes11.png" alt="신발11" >
            <div class="sub-column">공용 트레킹화 <br>
                <span class="price-text"><br>227,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes12.png" alt="신발12">
            <div class="sub-column">공용 트레킹화 <br>
                <span class="price-text"><br>208,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    </div>
    <br>
    <div class="shoes">
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes13.png" alt="신발13">
            <div class="sub-column">공용 중목 트레킹화 <br>
                <span class="price-text"><br>217,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes14.png" alt="신발14">
            <div class="sub-column">공용 중목 등산화<br>
                <span class="price-text"><br>207,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes15.png" alt="신발15" >
            <div class="sub-column">공용 장목 등산화 <br>
                <span class="price-text"><br>192,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    
    
        <div class="column">
            <img src="/images/navigation/shoes/shoes16.png" alt="신발16">
            <div class="sub-column">공용 중목 트레킹화 <br>
                <span class="price-text"><br>117,000원
                    <button class="small-button" onclick="openCartPage()">장바구니에 담기</button></div>
        </div>
    </div>
    <br>

    



    <footer>
        <div class="footer">
            <div class="column1">
                <div class="information" style="line-height: 50px;">
                    <strong  style="font-size: 16px;">CONNECT WITH US</strong><br>
                    Green Peak KOREA<br>
                    Phone : +82 1666-0000<br>
                    Email : info@greanpeak.com<br>
                    Address : floor3, 21, Sanggye-ro 3-gil, Nowon-gu, Seoul, Republic of Korea<br>
                    Hours : Monday-Friday, 9am - 5pm
                </div>
                <br>
                <div class="social">
                    <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoia28ifQ%3D%3D%22%7D" target="_blank">
                        <img src="/logos/x.png" alt="social1">
                    </a>
                    <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.youtube.com%2Fsignin%3Faction_handle_signin%3Dtrue%26app%3Ddesktop%26hl%3Dko%26next%3Dhttps%253A%252F%252Fwww.youtube.com%252F%253Fapp%253Ddesktop%2526hl%253Dko&ec=65620&hl=ko&ifkv=AVQVeywhscngkhr2m1fZRYEhaihvpdbVnNBMA9molsmVt4f_hqSfn86k4cbzcD1OjDEqA3L8NVXe9w&passive=true&service=youtube&uilel=3&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S319028392%3A1700202551587894&theme=glif" target="_blank">
                        <img src="/logos/youTube.png" alt="social2">
                    </a>
                    <a href="https://www.instagram.com/accounts/login/" target="_blank">
                        <img src="/logos/insta.png" alt="social3">
                    </a>
                    <a href="https://www.facebook.com/?locale=ko_KR" target="_blank">
                        <img src="/logos/faceBook.png" alt="social4">
                    </a>
                    <a href="https://telegram.org/blog/login?setln=ko" target="_blank">
                        <img src="/logos/telegram.png" alt="social5">
                    </a>                   
                    <a href="https://www.linkedin.com/login/ko" target="_blank">
                        <img src="/logos/linkedIn.png" alt="social6">
                    </a>    
                </div>
                
            </div>

            <div class="column2" style="line-height: 50px;">
                <div class="help">
                    <strong style="font-size: 16px;">ABOUT GREEN PEAK</strong><br>
                    <a href="#">Our Story</a><br>
                    <a href="#">Careers</a><br>
                    <a href="#">Our Innovations</a><br>
                    <a href="#">Sustainability</a><br>
                    <a href="#">Join Our Affiliate Program</a><br>
                    <a href="#">Ability Signs</a><br>
                    <a href="#">Non-Commercial 2023 Green Peak</a>
                </div>
            </div>
            
            <div class="column3">
                <div class="help" style="line-height: 50px;"> 
                    <strong style="font-size: 16px;">HELP</strong><br>
                    <a href="#">Delivery</a><br>
                    <a href="#">Returns and Exchanges</a><br>
                    <a href="#">FAQ</a><br>
                    <a href="#">Payment and Security</a><br>
                    <a href="#">Warranty</a><br>
                    <a href="#">Price Adjustment Policy</a>
                </div>
                <br>
                <div class="payment">
                    <img src="/logos/visa.png" alt="payment1">
                    <img src="/logos/americanexpress.png" alt="payment2">
                    <img src="/logos/maestro.png" alt="payment3">
                    <img src="/logos/unionpay.png" alt="payment4">
                    <img src="/logos/citi.png" alt="payment5">
                    <img src="/logos/paypal.png" alt="payment6">
                </div>
                
            </div>
        </div>
    </footer>
      

           
</body>
</html>
