<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/layout/header.css">
<link rel="stylesheet" href="/css/yeseul/index2.css">
<link rel="stylesheet" href="/css/layout/footer.css">
<div class="header">
	<th:block th:replace="~{layout/header :: header}">Header Section</th:block>
</div>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>


</head>
<body>
	<section class="container">
		<div class="item">
			<img src="/images/index2/campfire-1846142_1280.jpg">
		</div>
		<div class="item">
			<img src="/images/index2/starry-sky-8199764_1280.jpg">
		</div>
		<div class="item">
			<img src="/images/index2/camping-1835352_1280.jpg">
		</div>
		<div class="item">
			<p>WE ARE CAM & ELISE.</p>
			<p>THE PLANET’S MOST</p>
			<p>CURIOUS PUPILS.</p>
		</div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item"></div>
		<div class="item">
			<p>Getting outside is good for the soul.</p>
			<p>And we created the word Zorali to mean just that.</p>
			<p> Zorali means going where you won’t need fancy gear – your own two feet will do.</p>
			<p>Going where the air comes at breathable altitudes, where your mind feels free from stress and strife and struggle.</p>
			<p>Because cobwebs belong in the trees, not your mind. So take a deep breath in, breathe out, and go.</p></div>
		
		
	</section>
	<section class="container2">
		<div class="item1">
			<img src="/images/index2/겨울감성.gif">
		</div>
		<div class="item2">
			<p>INSPIRED BY</p>
			<p>NATURE’S CALM.</p>
		</div>
		<div class="item3">
			<p>MADE FOR</p>
			<p>EXPLORING</p>
			<p>ITS WILDS.</p>
		</div>

		</section>
		
		<div class="side">
			<div class="side1">
				<div class="side1-1" >
					<a>
						<!--<img src="/images/index2/안내.png">-->
						<img src="/images/index2/안내2.png">
					</a>
				</div>
				<div class="side1-2">
					<a>
						<p align="center">최근 본 상품</p>
					</a>
				</div>
			</div>
		</div>
	
	
</body>
	<th:block th:replace="~{layout/footer :: footer}">Footer Section</th:block>
</html>